block content
  - var checkboxText = new Array();
  - checkboxText[1] = "БЭМ/OOCSS"
  - checkboxText[2] = "PUG (Jade)"
  - checkboxText[3] = "Stylus/LESS/SASS"
  - checkboxText[4] = "Работаю с SVG"
  - checkboxText[5] = "Верстаю семантично"
  - checkboxText[6] = "Accessibility (A11Y)"
  - checkboxText[7] = "ES2015/ES2016"
  - checkboxText[8] = "Gulp/GRUNT"
  - checkboxText[9] = "Webpack"
  - checkboxText[10] = "Дружу с WebGL"
  - checkboxText[11] = "jQuery"
  - checkboxText[12] = "Знаю/изучаю Angular"
  - checkboxText[13] = "Знаю/изучаю React"
  - checkboxText[14] = "Знаю/изучаю Node.js"
  - checkboxText[15] = "Использую Git"
  - checkboxText[16] = "С глазомером всё ок"
  - checkboxText[17] = "Читаю blog.csssr.ru"
  - checkboxText[18] = "Я ленивый(-ая)"
  - checkboxText[19] = "У меня хороший английский"
