doctype html
html(lang="ru")
  head
    include includes/head-settings
  body
    div
      p.text_1 Test
      p.text_2 Test и этот шрифт не лучше ни хрена
      p.text_3 Test Как же я задолбался, настраивать этот долбанный шрифт
      p. 
    
    include includes/scripts
