doctype html
html(lang="ru")
  head
    include includes/head-settings
  body
    section.anketa
      div.anketa__images
        img(src="img/csssr-logo.png", alt="logo").anketa__img.anketa__img-logo
        img(src="img/case.png", alt="case").anketa__img.anketa__img-case
        img(src="img/secret.png", alt="secret").anketa__img.anketa__img-secret
      div.anketa__data
        // Form
        form(action="#", id="form", name="form").anketa__form
          div.anketa__data
            div.anketa__form-input.anketa__form-name
              label(for="name").anketa__input-label Полное&nbsp;ФИО
              input(type="text" name="name" placeholder='Иванов Иван Иванович')#name.anketa__input.anketa__input-name
            div.anketa__form-input.anketa__form-birth
              label(for="birth").anketa__input-label Год&nbsp;рождения
              input(type="text" name="birth" placeholder='1990')#birth.anketa__input.anketa__input-birth
            div.anketa__form-input.anketa__form-location
              label(for="location").anketa__input-label Место&nbsp;жительства
              input(type="text" name="location" placeholder='г. Иваново, Россия')#location.anketa__input.anketa__input-location
            div.anketa__form-input.anketa__form-skype
              label(for="skype").anketa__input-label Скайп
              input(type="text" name="skype" placeholder='ivanov')#skype.anketa__input.anketa__input-skype
            div.anketa__form-input.anketa__form-email
              label(for="email").anketa__input-label Почта
              input(type="email" name="email" placeholder='ivanov@gmail.com')#email.anketa__input.anketa__input-email

          // Checkboxes
          div.anketa__checkboxes
            h2.anketa__subtitle Расскажите о себе чекбоксами
            p.anketa__text Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
            div.anketa__checkboxes-block
              // Cycle of items 19 times
              include includes/variables

              - for (var j=1; j<20; j++)
                  // Checkbox item
                  div.anketa__checkboxes-item
                    div(id="box"+j).anketa__checkboxes-box
                      span(id="box-mark-"+j).anketa__checkboxes-mark
                      input(type="checkbox" name="option"+j value="option"+j id="option"+j).anketa__checkboxes-option
                    label(for="option"+j).anketa__checkboxes-label= checkboxText[j]
                  // --------------------------------------------------------------------------------------------

          // Javascript level
          div.anketa__javascriptLevel
            h2.anketa__subtitle.anketa__javascriptLevel-subtitle Уровень владения JavaScript
            div.anketa__javascriptLevel-scale
              div.anketa__javascriptLevel-point
                div(id="arr-option-1").anketa__javascriptLevel-arr
              div.anketa__javascriptLevel-point
                div(id="arr-option-2").anketa__javascriptLevel-arr
              div.anketa__javascriptLevel-point
                div(id="arr-option-3").anketa__javascriptLevel-arr
              div.anketa__javascriptLevel-point
                div(id="arr-option-4").anketa__javascriptLevel-arr
            div.anketa__javascriptLevel-block
              // Cycle of level items
              // Level item
              div(id="item-level-1").anketa__javascriptLevel-item
                input(type="radio" name="level" value="level1" id="level1" checked).anketa__javascriptLevel-option
                div(for="level1").anketa__javascriptLevel-label 
                  p Не владею
              // -----------------------------------------------------------------------------------------
              // Level item
              div(id="item-level-2").anketa__javascriptLevel-item
                input(type="radio" name="level" value="level2" id="level2").anketa__javascriptLevel-option
                div(for="level2").anketa__javascriptLevel-label 
                  p Использую готовые решения
              // -----------------------------------------------------------------------------------------
              // Level item
              div(id="item-level-3").anketa__javascriptLevel-item
                input(type="radio" name="level" value="level3" id="level3").anketa__javascriptLevel-option
                div(for="level3").anketa__javascriptLevel-label 
                  p Использую готовые решения и умею их переделывать
              // -----------------------------------------------------------------------------------------
              // Level item
              div(id="item-level-4").anketa__javascriptLevel-item
                input(type="radio" name="level" value="level4" id="level4").anketa__javascriptLevel-option
                div(for="level4").anketa__javascriptLevel-label 
                  p Пишу сложный JS с нуля
              // -----------------------------------------------------------------------------------------

          
        // ---------------------------------------------------------------------------------------------------------------------------------


    include includes/scripts
